@import "src/Theme/base.scss";

.movieplayer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  color: map-get($colors, text-primary)!important;
  overflow-x: hidden;

  &-player {
    width: 100%!important;
    min-height: 50vh!important;
  }

  &-back {
    position: absolute!important;
    color: map-get($colors, text-primary)!important;
    top: 24px;
    left: 24px;
    text-decoration: none;
  }

  &-episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 24px;
  }

  &-episode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    padding-bottom: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    align-items: center;
    border-bottom: 1px solid map-get($colors, text-secondary);
    color: map-get($colors, text-primary);

    &__name {
      margin-left: 48px;
    }

    &:hover {
      color: map-get($colors, secondary);
      border-bottom-color: map-get($colors, secondary);
      cursor: pointer;
    }
  }

  &-info {
    color: map-get($colors, text-secondary);
    margin: 24px;
    
    &__name {
      margin: 8px;
      font-weight: 200;
      font-size: 18px;
    }

    &__actors {
      margin: 8px;
      font-size: 13px;
      font-weight: 100;
    }

    &__description {
      font-weight: 200;
      margin: 8px;
      font-size: 14px;
    }
  }

  &-voucher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      &__input {
        height: 36px;
        width: 250px;
        margin: 24px!important;
        padding: 16px;
        font-size: 18px;
        font-weight: 100!important;
        color: map-get($colors, text-primary);
        background-color: map-get($colors, primary);
        border: 1px solid map-get($colors, secondary);
        border-radius: 28px;

        &:focus {
          outline: none;
        }
      }
  
      &__submit {
        display: inline-block;
        height: 24px;
        margin: 24px!important;
        padding: 16px;
        font-size: 18px;
        font-weight: 100!important;
        color: map-get($colors, text-primary);
        background-color: map-get($colors, primary);
        border: 1px solid map-get($colors, secondary);
        border-radius: 28px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: map-get($colors, secondary);
          cursor: pointer;
        }
      }
    }
  }
}
