$colors: (
  text-secondary: #e7e7e7,
  text-primary: rgba(253, 255, 252, 1),
  asset-primary: rgba(255, 62, 65, 1),
  asset-secondary: rgba(213, 160, 33, 1),
  secondary: rgba(98, 97, 98, 1),
  primary: rgba(48, 47, 46, 1),
)