@import "src/Theme/base.scss";

.movielist {
  display: flex;
  justify-content: left;
  width: 90vw!important;
  height: 95vh!important;
  margin: 1px!important;
  margin-top: 64px!important;
  overflow-x: hidden!important;
  overflow-x: auto!important;

  &::-webkit-scrollbar { 
    display: none; 
  } 
}

.nomovies {
  margin-top: 96px;
  font-size: 24px;
  font-weight: 100!important;
  color: map-get($colors, text-secondary);
}
