@import "src/Theme/base.scss";

.movie-list {
  width: 100vw;
}

.movielist {
  display: flex;
  justify-content: center;
  height: 95vh!important;
  margin: 1px!important;
  margin-top: 72px!important;
  overflow-x: hidden!important;
  overflow-x: auto!important;

  &::-webkit-scrollbar { 
    display: none; 
  } 
}

.nomovies {
  margin-top: 96px;
  font-size: 24px;
  font-weight: 100!important;
  color: map-get($colors, text-secondary);
}
