@import "./theme/base.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: map-get($colors, primary);
  overflow-y: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: map-get($colors, primary);
}
